Controle de Tarefas .json
{
  "name": "Controle de Tarefas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "094d00d7-f1ea-410f-9f62-72576261f5e4",
      "name": "Verificar a Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 304]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YdODYW81J3DlnU6MdoONSoRWBSis4t2hZ0fec9st2vI",
          "mode": "list",
          "cachedResultName": "Trabalho Tec-TI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YdODYW81J3DlnU6MdoONSoRWBSis4t2hZ0fec9st2vI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YdODYW81J3DlnU6MdoONSoRWBSis4t2hZ0fec9st2vI/edit#gid=0"
        },
        "options": {}
      },
      "id": "3cf16a72-1dc3-40cd-b9f5-f660e6720745",
      "name": "Ler Tarefas da Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [464, 304],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IKbMIwXE8sYdzq3B",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst brOptions = { timeZone: 'America/Sao_Paulo' };\n\nconst day   = now.toLocaleDateString('pt-BR', { ...brOptions, day: '2-digit' });\nconst month = now.toLocaleDateString('pt-BR', { ...brOptions, month: '2-digit' });\nconst year  = now.toLocaleDateString('pt-BR', { ...brOptions, year: 'numeric' });\nconst hour  = now.toLocaleTimeString('pt-BR', { ...brOptions, hour: '2-digit', hour12: false });\n\nconst todayStr = `${day}/${month}/${year}`;\nconst hourStr  = hour.padStart(2, '0');\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    _hoje: todayStr,\n    _hora: hourStr\n  }\n}));"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Calcular Data e Hora Atual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-date",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ $json._hoje }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-time",
              "leftValue": "={{ $json.time.split(':')[0] }}",
              "rightValue": "={{ $json._hora }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-notificado",
              "leftValue": "={{ $json.notificado }}",
              "rightValue": "S",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "C",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "É Hora de Notificar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [912, 304]
    },
    {
      "parameters": {
        "url": "https://nameday.abalin.net/api/V2/today/-3",
        "options": {}
      },
      "id": "d0688c69-6c6c-417d-b7be-374334061c40",
      "name": "Buscar Dados Nameday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1136, 204]
    },
    {
      "parameters": {
        "jsCode": "const taskData = $('Calcular Data e Hora Atual').item.json;\nconst namedayData = $input.first().json;\nconst namedayName = (namedayData.data && namedayData.data.us) ? namedayData.data.us : 'Não disponível';\nreturn [{ json: { ...taskData, _nameday: namedayName } }];"
      },
      "id": "cc112233-4455-6677-8899-aabbccddeeff",
      "name": "Combinar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1248, 204]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise a seguinte tarefa e determine sua prioridade. Hoje é {{ $json._hoje }}.\n\nTarefa: {{ $json.task }}\nDescrição: {{ $json.description }}\nPrioridade Informada: {{ $json.priority }}\nData Agendada: {{ $json.date }}\nHorário: {{ $json.time }}\n\nConsidere quantos dias faltam até a data agendada para calibrar a urgência e o tempo estimado. Retorne APENAS este JSON preenchido, sem nenhum texto adicional:\n{\"priority\":\"\",\"recommendation\":\"\",\"estimatedTime\":\"\"}",
        "options": {
          "systemMessage": "Você é um assistente especializado em gestão de tarefas e produtividade. Analise tarefas e forneça recomendações claras e objetivas em português. Responda SEMPRE em formato JSON puro, sem markdown, sem ```json, sem explicações. Apenas o objeto JSON."
        }
      },
      "id": "28c7282f-9237-4cdd-835e-bb01ded4ea7a",
      "name": "Analisar Prioridade Tarefa",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1360, 204]
    },
    {
      "parameters": {
        "jsCode": "const agentOut = $input.first().json;\nconst taskData = $('Combinar Dados').item.json;\nconst raw = agentOut.output || '';\nlet parsed;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch(e) {\n  parsed = {\n    priority: 'Não definida',\n    recommendation: 'Analisar manualmente',\n    estimatedTime: 'Não definido'\n  };\n}\nreturn [{ json: { ...taskData, output: parsed } }];"
      },
      "id": "80dac404-5006-4abf-b252-76100519f237",
      "name": "Extrair JSON da Análise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1504, 204]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "emailSubject",
              "value": "=🔔 Tarefa de Hoje: {{ $json.task }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "emailBody",
              "value": "=<!DOCTYPE html><html><head><meta charset='UTF-8'><style>body{font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:0}.container{max-width:600px;margin:30px auto;background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1)}.header{background:#0a0a0a;padding:24px 32px}.header h1{color:#ff6b00;margin:0;font-size:22px}.header p{color:#aaaaaa;margin:4px 0 0;font-size:13px}.body{padding:28px 32px}.section{margin-bottom:20px}.label{font-size:11px;text-transform:uppercase;color:#888888;font-weight:bold;letter-spacing:0.5px;margin-bottom:4px}.value{font-size:15px;color:#222222}.badge{display:inline-block;padding:4px 12px;border-radius:4px;font-size:13px;font-weight:bold}.badge-alta{background:#ffe0e0;color:#cc0000}.badge-media{background:#fff3cd;color:#856404}.badge-baixa{background:#d4edda;color:#155724}.divider{border:none;border-top:1px solid #eeeeee;margin:20px 0}.highlight{background:#fff8f0;border-left:4px solid #ff6b00;padding:12px 16px;border-radius:0 6px 6px 0;margin:16px 0}.footer{background:#f9f9f9;padding:16px 32px;text-align:center;font-size:12px;color:#aaaaaa;border-top:1px solid #eeeeee}</style></head><body><div class='container'><div class='header'><h1>🔔 Lembrete de Tarefa</h1><p>Sistema de Controle de Tarefas</p></div><div class='body'><div class='section'><div class='label'>Tarefa</div><div class='value' style='font-size:18px;font-weight:bold;color:#0a0a0a'>{{ $json.task }}</div></div><div class='section'><div class='label'>Descrição</div><div class='value'>{{ $json.description }}</div></div><hr class='divider'><div class='label'>📅 Data e Hora</div><div class='value'>{{ $json.date }} às {{ $json.time }}</div><hr class='divider'><div class='highlight'><table style='width:100%;border-collapse:collapse'><tr><td><div class='label'>🎯 Prioridade</div><div class='value'><span class='badge badge-alta'>{{ $json.output.priority }}</span></div></td></tr></table><div style='margin-top:12px'><div class='label'>💡 Recomendação</div><div class='value'>{{ $json.output.recommendation }}</div></div><div style='margin-top:8px'><div class='label'>⏱️ Tempo Estimado</div><div class='value'>{{ $json.output.estimatedTime }}</div></div></div><hr class='divider'><div style='font-size:13px;color:#666666'>🎉 <strong>Curiosidade do dia:</strong> {{ $json._nameday }}</div></div><div class='footer'>Mantenha-se organizado e produtivo!<br>Este email foi enviado automaticamente pelo sistema de Controle de Tarefas.</div></div></body></html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f83518a5-4e5f-4613-a32e-2d4dd1f81d99",
      "name": "Preparar Conteúdo Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1584, 204]
    },
    {
      "parameters": {
        "sendTo": "otavio.felix433@gmail.com",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ff6a9a64-4a31-4124-819c-d85c66128a3a",
      "name": "Enviar Notificação Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1808, 204],
      "webhookId": "61a9c253-629d-4e44-81ae-02933b0db969",
      "credentials": {
        "gmailOAuth2": {
          "id": "yBA4jcJ6Qvk3gu5m",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "deffe7e2-2adb-437c-b633-a4ef08686232",
      "name": "Modelo Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [1376, 428],
      "credentials": {
        "googlePalmApi": {
          "id": "Pl43KLChFfvNhOdr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Verificar a Cada Hora": {
      "main": [[{ "node": "Ler Tarefas da Planilha", "type": "main", "index": 0 }]]
    },
    "Ler Tarefas da Planilha": {
      "main": [[{ "node": "Calcular Data e Hora Atual", "type": "main", "index": 0 }]]
    },
    "Calcular Data e Hora Atual": {
      "main": [[{ "node": "É Hora de Notificar?", "type": "main", "index": 0 }]]
    },
    "É Hora de Notificar?": {
      "main": [
        [{ "node": "Buscar Dados Nameday", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar Dados Nameday": {
      "main": [[{ "node": "Combinar Dados", "type": "main", "index": 0 }]]
    },
    "Combinar Dados": {
      "main": [[{ "node": "Analisar Prioridade Tarefa", "type": "main", "index": 0 }]]
    },
    "Analisar Prioridade Tarefa": {
      "main": [[{ "node": "Extrair JSON da Análise", "type": "main", "index": 0 }]]
    },
    "Extrair JSON da Análise": {
      "main": [[{ "node": "Preparar Conteúdo Email", "type": "main", "index": 0 }]]
    },
    "Preparar Conteúdo Email": {
      "main": [[{ "node": "Enviar Notificação Email", "type": "main", "index": 0 }]]
    },
    "Modelo Gemini": {
      "ai_languageModel": [[{ "node": "Analisar Prioridade Tarefa", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ef83d736-43d8-42d4-b7c8-b8b2d2afc3d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "801482968259ce0ca54c815534c1a3601b73116a3de82f196de723691b49c5e2"
  },
  "id": "jSfk6vwllSs63wJy",
  "tags": []
}
