Controle de Tarefas.json
{
  "name": "Controle de Tarefas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "094d00d7-f1ea-410f-9f62-72576261f5e4",
      "name": "Verificar a Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": ""
        }
      },
      "id": "3cf16a72-1dc3-40cd-b9f5-f660e6720745",
      "name": "Ler Tarefas da Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://nameday.abalin.net/api/V1/today",
        "options": {}
      },
      "id": "d0688c69-6c6c-417d-b7be-374334061c40",
      "name": "Buscar Dados Nameday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise a seguinte tarefa e determine sua prioridade:\n\nTarefa: {{ $json.task }}\nDescrição: {{ $json.description }}\nStatus Atual: {{ $json.status }}\nPrioridade Informada: {{ $json.priority }}\n\nForneça uma análise detalhada da prioridade, urgência, recomendação de ação e tempo estimado para conclusão.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um assistente especializado em gestão de tarefas e produtividade. Analise tarefas e forneça recomendações claras e objetivas em português."
        }
      },
      "id": "28c7282f-9237-4cdd-835e-bb01ded4ea7a",
      "name": "Analisar Prioridade Tarefa",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "4d8e7688-9fa0-4714-bbbb-7586ca0faa7d",
      "name": "Modelo OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        920,
        528
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "priority": "Alta",
          "urgency": "Urgente",
          "recommendation": "Recomenda-se iniciar imediatamente",
          "estimatedTime": "2 horas"
        }
      },
      "id": "80dac404-5006-4abf-b252-76100519f237",
      "name": "Esquema Análise Prioridade",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1048,
        528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "emailSubject",
              "value": "=🔔 Nova Tarefa: {{ $json.task }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "emailBody",
              "value": "=Olá!\n\nUma nova tarefa foi identificada no seu sistema de controle:\n\n📋 Tarefa: {{ $json.task }}\n📝 Descrição: {{ $json.description }}\n⚡ Status: {{ $json.status }}\n🎯 Prioridade: {{ $json.output.priority }}\n⏰ Urgência: {{ $json.output.urgency }}\n💡 Recomendação: {{ $json.output.recommendation }}\n⏱️ Tempo Estimado: {{ $json.output.estimatedTime }}\n\n🎉 Curiosidade do dia (Nameday): {{ $(\"Buscar Dados Nameday\").item.json.data.namedays.us }}\n\nMantenha-se organizado e produtivo!\n\nEste email foi enviado automaticamente pelo sistema de Controle de Tarefas.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f83518a5-4e5f-4613-a32e-2d4dd1f81d99",
      "name": "Preparar Conteúdo Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "<__PLACEHOLDER_VALUE__seu-email@exemplo.com__>",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "text",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ff6a9a64-4a31-4124-819c-d85c66128a3a",
      "name": "Enviar Notificação Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        304
      ],
      "webhookId": "61a9c253-629d-4e44-81ae-02933b0db969"
    }
  ],
  "pinData": {},
  "connections": {
    "Verificar a Cada Hora": {
      "main": [
        [
          {
            "node": "Ler Tarefas da Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Tarefas da Planilha": {
      "main": [
        [
          {
            "node": "Buscar Dados Nameday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados Nameday": {
      "main": [
        [
          {
            "node": "Analisar Prioridade Tarefa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar Prioridade Tarefa": {
      "main": [
        [
          {
            "node": "Preparar Conteúdo Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Analisar Prioridade Tarefa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Esquema Análise Prioridade": {
      "ai_outputParser": [
        [
          {
            "node": "Analisar Prioridade Tarefa",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Conteúdo Email": {
      "main": [
        [
          {
            "node": "Enviar Notificação Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b3ef4480-b480-49d4-8299-87a8342f6a1f",
  "meta": {
    "instanceId": "801482968259ce0ca54c815534c1a3601b73116a3de82f196de723691b49c5e2"
  },
  "id": "jSfk6vwllSs63wJy",
  "tags": []
}